gradle-wrapper.jar
/.gradle
/captures/
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
ios/Runner/Assets.xcassets/**
macos/Runner/Assets.xcassets/**
windows/runner/resources/*.ico

# Icon assets
**/res/**/*.png
!app/src/main/res/mipmap-*/ic_launcher.png
